<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Metamorphous|Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<link rel="stylesheet" href="styles/main.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js
">
  
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="js.particles.js"></script>
  <title>{de}Crypt</title>

</head>
<body>

 <ul id="slide-out" class="side-nav fixed">
    <li>
     
      <div class="user-view">
          
          <div class="mb-2" id="title">
            {de}Crypted
          </div>
          
          <div class="row">
              <figure>
                  <a href="#!user"><i class="fas fa-user-secret fa-3x"></i></a>
              </figure>
              <figcaption>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
              </figcaption>
          </div>

        </div>
      
  </li>

   <li>

      <ul>

    <li class="btn waves-effect waves-light"><a href="/news"> <i class="material-icons right">send</i>Coin</a></li>
    <li class="btn waves-effect waves-light"><a href="#!"> <i class="material-icons right">send</i>Search Coin</a></li>
    <li class="btn waves-effect waves-light"><a href="#!"> <i class="material-icons right">send</i>Coin News</a></li>
    <li class="btn waves-effect waves-light"><a href="#!"> <i class="material-icons right">send</i> Basics</a></li>


      </ul>

  </li>
 
</ul>
  <div id="wrapper">
{{{body}}}
  </div>

  
</body>
</html>