
<div class="container">
<h5 id="titleBasics2">CryptoCurrency 101</h5>
</div>
  

  <div class="row align-items-center contentRow">

   <div class="col-3  questionHeader">
        WHAT IS A CRYPTOCURRENCY? 
   </div>

   <div class="col-8 contentDiv">
          Think of a cryptocurrency as a digital version of fiat
currency such as the USD or GBP. Cryptography is used
to secure the transaction as well as control the creation
of new coins. In layman’s terms, it is a digital currency
that is mined instead of printed. 
   </div>
      
  </div>


  <div class="row align-items-center contentRow">

   <div class="col-3  questionHeader">
      HOW DOES ONE ACQUIRE A CRYPTOCURRENCY?
   </div>

   <div class="col-8 contentDiv">
          A cryptocurrency such as Bitcoin is acquired by
purchasing the coin via a wallet in typical fiat currency
(this can be done via a credit card or wire transfer) and
the wallet then allows you to buy various different
cryptocurrencies using your fiat currency
   </div>
      
  </div>

    <div class="row align-items-center contentRow">

   <div class="col-3  questionHeader">
      WHAT IS A BLOCKCHAIN?
   </div>

   <div class="col-8 contentDiv">
     To begin with, a block is where the data for the
transactions are stored, the linked decentralised series of
the blocks is what is named a blockchain. Blockchain is
the structure of relational data storage that provides the
ledger and backbone of the coin.
   </div>
      
  </div>

    <div class="row align-items-center contentRow">

   <div class="col-3  questionHeader">
       HOW DOES ONE INVEST IN CRYPTO?
   </div>

   <div class="col-8 contentDiv">
   There are numerous ways of investing in
cryptocurrencies, these range from simply buying and
holding the coins on an exchange. This can be perceived
as risky, as Exchanges have been hacked and coins
stolen, for example, Mt. Geox: https://goo.gl/JBhSvL.
Trading on one of the cryptocurrency exchanges (still
risky as the funds are held on the exchanges’ hot wallet,
and many of these exchanges are unregulated) storing
on a computer wallet and the risk of being hacked, paper
storage (which can be tedious and troublesome) or a
hardware wallet which is a combination of software and
hardware (and most popular at present) are some of the
options to trade these cryptocurrencies
   </div>
      
  </div>

    <div class="row align-items-center contentRow">

   <div class="col-3  questionHeader">
      ENTERING THE MARKET 
   </div>

   <div class="col-8 contentDiv">
        The first thing you’ll need to do is decide which
cryptocurrency you wish to purchase. There are
hundreds to choose from, and each is slightly different
from the other.
Rather than researching the multitude of
cryptocurrencies currently in existence and diving
headlong, especially for first-time investors, it may be a
better idea to spend some time following the trends and
getting to know the basic and most prevalent currencies,
and then begin to branch out once the basics of a few
tokens are fully understood.
The following is a list of the most 
   </div>
      
  </div>