<div class="container">
    <div class="col-4 questions">
        <h3>What is CryptoCurrency? </h3>
    </div>
    <div class="col-7">
        Think of a cryptocurrency as a digital version of fiat
    currency such as the USD or GBP. Cryptography is used
    to secure the transaction as well as control the creation
    of new coins. In layman’s terms, it is a digital currency
    that is mined instead of printed. 
    </div>
</div>
<div class="container">
    <div class="col-4 questions">
        <h3>What is CryptoCurrency? </h3>
    </div>
    <div class="col-7">
        Think of a cryptocurrency as a digital version of fiat
    currency such as the USD or GBP. Cryptography is used
    to secure the transaction as well as control the creation
    of new coins. In layman’s terms, it is a digital currency
    that is mined instead of printed. 
    </div>
</div>
<div class="container">
    <div class="col-4 questions">
        <h3>What is CryptoCurrency? </h3>
    </div>
    <div class="col-7">
        Think of a cryptocurrency as a digital version of fiat
    currency such as the USD or GBP. Cryptography is used
    to secure the transaction as well as control the creation
    of new coins. In layman’s terms, it is a digital currency
    that is mined instead of printed. 
    </div>
</div>
<div class="container">
    <div class="col-4 questions">
        <h3>What is CryptoCurrency? </h3>
    </div>
    <div class="col-7">
        Think of a cryptocurrency as a digital version of fiat
    currency such as the USD or GBP. Cryptography is used
    to secure the transaction as well as control the creation
    of new coins. In layman’s terms, it is a digital currency
    that is mined instead of printed. 
    </div>
</div>
<div class="container">
    <div class="col-4 questions">
        <h3>What is CryptoCurrency? </h3>
    </div>
    <div class="col-7">
        Think of a cryptocurrency as a digital version of fiat
    currency such as the USD or GBP. Cryptography is used
    to secure the transaction as well as control the creation
    of new coins. In layman’s terms, it is a digital currency
    that is mined instead of printed. 
    </div>
</div>
<div class="container">
    <div class="col-4 questions">
        <h3>What is CryptoCurrency? </h3>
    </div>
    <div class="col-7">
        Think of a cryptocurrency as a digital version of fiat
    currency such as the USD or GBP. Cryptography is used
    to secure the transaction as well as control the creation
    of new coins. In layman’s terms, it is a digital currency
    that is mined instead of printed. 
    </div>
</div>