<div class="container">
 <h5 id="titleBasics">Crypto Charts</h5>
</div>
 

<div class="container chartDiv">
<canvas id="line-chart" width="800" height="450"></canvas>
</div>

<div class="container chartDiv">
    <canvas id="bar-chart" width="800" height="450"></canvas>

</div>


<div class="container chartDiv" id="radar">
<canvas id="radar-chart" width="800" height="600"></canvas>

</div>
