

 
<div class="row coinInfo">
<div class="col s12 offset-s4 m8">
  <div class="card orange lighten-4 darken-1">
    <div class="card-content white-text">
      <span class="card-title blue-grey darken-4 z-depth-4 center-align">{de} <i>CryptEd</i> </span>
      <p class="background-secondary blue-grey darken-4 z-depth-2">SatoShi Welcomes You</p>
    </div>
    <div class="card-action">
       <button class="btn waves-effect waves-light deep-orange" type="submit" name="action">Register
    <i class="material-icons right">send</i>
      <button class="btn waves-effect waves-light deep-orange" type="submit" name="action">Sign In
    <i class="material-icons right">send</i>
      <button class="btn waves-effect waves-light deep-orange" type="submit" name="action">Log Out
    <i class="material-icons right">send</i>
  </button>
    </div>
  </div>
</div>




