<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>{{msg}}</h1>
      <h2>This is our Home Page!</h2>
      {{#each articles}}
       <h3>{{this.title}}</h3>
      {{/each}}
    </div>
  </div>
</div>
