<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
  mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
        mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
                </div>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">_Enter_Logo_</span>
        <nav class="mdl-navigation">

        </nav>
    </div>
   <table id="table" class="mdl-data-table mdl-js-data-table  mdl-shadow--4dp">
                    <tdead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Material</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th></th>
                            <th></ths>
                        </tr>
                    </tdead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Foo1</td>
                            <td>25</td>
                            <td>$2.90</td>
                            <td><a href="#">View More</a></td>
                            <td><a href="#">Follow</a></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Foo2</td>
                            <td>50</td>
                            <td>$1.25</td>
                            <td><a href="#">View More</a></td>
                            <td><a href="#">Follow</a></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Foo3</td>
                            <td>10</td>
                            <td>$2.35</td>
                            <td><a href="#">View More</a></td>
                            <td><a href="#">Follow</a></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Foo4</td>
                            <td>50</td>
                            <td>$1.25</td>
                            <td><a href="#">View More</a></td>
                            <td><a href="#">Follow</a></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Foo5</td>
                            <td>50</td>
                            <td>$1.25</td>
                            <td><a href="#">View More</a></td>
                            <td><a href="#">Follow</a></td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Foo6</td>
                            <td>50</td>
                            <td>$1.25</td>
                            <td><a href="#">View More</a></td>
                            <td><a href="#">Follow</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>