
<div class="row coinInfo">
<div class="col s12 offset-s4 m8">
  <div class="card orange lighten-4 darken-1">
    <div class="card-content white-text">
      <span class="card-title blue-grey darken-4 z-depth-4">WHAT IS A CRYPTOCURRENCY? </span>
      <p class="background-secondary blue-grey darken-4 z-depth-2">Think of a cryptocurrency as a digital version of fiat
          currency such as the USD or GBP. Cryptography is used
          to secure the transaction as well as control the creation
          of new coins. In layman’s terms, it is a digital currency
          that is mined instead of printed. </p>
    </div>
    <div class="card-action">
      <a class="blue-grey darken-4" href="#">[Learn More..]</a>
    </div>
  </div>
</div>
</div>

<div class="row coinInfo">
<div class="col s12 offset-s4 m8">
  <div class="card orange lighten-4 darken-1">
    <div class="card-content white-text">
      <span class="card-title blue-grey darken-4 z-depth-4">HOW DOES ONE ACQUIRE A CRYPTOCURRENCY? </span>
      <p class="background-secondary blue-grey darken-4 z-depth-2">A cryptocurrency such as Bitcoin is acquired by
purchasing the coin via a wallet in typical fiat currency
(this can be done via a credit card or wire transfer) and
the wallet then allows you to buy various different
cryptocurrencies using your fiat currency</p>
    </div>
    <div class="card-action">
      <a class="blue-grey darken-4" href="#">[Learn More..]</a>
    </div>
  </div>
</div>
</div>

<div class="row coinInfo">
<div class="col s12 offset-s4 m8">
  <div class="card orange lighten-4 darken-1">
    <div class="card-content white-text">
      <span class="card-title blue-grey darken-4 z-depth-4"> WHAT IS A BLOCKCHAIN?</span>
      <p class="background-secondary blue-grey darken-4 z-depth-2">To begin with, a block is where the data for the
transactions are stored, the linked decentralised series of
the blocks is what is named a blockchain. Blockchain is
the structure of relational data storage that provides the
ledger and backbone of the coin.
 </p>
    </div>
    <div class="card-action">
      <a class="blue-grey darken-4" href="#">[Learn More..]</a>
    </div>
  </div>
</div>
</div>

<div class="row coinInfo">
<div class="col s12 offset-s4 m8">
  <div class="card orange lighten-4 darken-1">
    <div class="card-content white-text">
      <span class="card-title blue-grey darken-4 z-depth-4">HOW DOES ONE INVEST IN CRYPTO? </span>
      <p class="background-secondary blue-grey darken-4 z-depth-2">There are numerous ways of investing in
cryptocurrencies, these range from simply buying and
holding the coins on an exchange. This can be perceived
as risky, as Exchanges have been hacked and coins
stolen, for example, Mt. Geox: https://goo.gl/JBhSvL.
Trading on one of the cryptocurrency exchanges (still
risky as the funds are held on the exchanges’ hot wallet,
and many of these exchanges are unregulated) storing
on a computer wallet and the risk of being hacked, paper
storage (which can be tedious and troublesome) or a
hardware wallet which is a combination of software and
hardware (and most popular at present) are some of the
options to trade these cryptocurrencies.</p>
    </div>
    <div class="card-action">
      <a class="blue-grey darken-4" href="#">[Learn More..]</a>
    </div>
  </div>
</div>
</div>

<div class="row coinInfo">
<div class="col s12 offset-s4 m8">
  <div class="card orange lighten-4 darken-1">
    <div class="card-content white-text">
      <span class="card-title blue-grey darken-4 z-depth-4">ENTERING THE MARKET..(?) </span>
      <p class="background-secondary blue-grey darken-4 z-depth-2">first thing you’ll need to do is decide which
cryptocurrency you wish to purchase. There are
hundreds to choose from, and each is slightly different
from the other.
Rather than researching the multitude of
cryptocurrencies currently in existence and diving
headlong, especially for first-time investors, it may be a
better idea to spend some time following the trends and
getting to know the basic and most prevalent currencies,
and then begin to branch out once the basics of a few
tokens are fully understood</p>
    </div>
    <div class="card-action">
      <a class="blue-grey darken-4" href="#">[Learn More..]</a>
    </div>
  </div>
</div>
</div>
<style>
  /* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
</style>
