<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tdead>
      <tr>
          <th>Quantity</th>
          <th>Unit price</th>
          <th></th>
          <th></ths>
      </tr>
      </tdead>
      <tbody>
        <tr>
          <td>25</td>
          <td>$2.90</td>
          <td><a href="#">View More</a></td>
          <td><a href="#">Follow</a></td>
        </tr>
    </tbody>
  </table>
</div>


