<div class="mdl-cell--12-col mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        <center><img src="/images/gravatar.jpg" width="200">
        <h3>{{user.displayName}}</h3>
        <h4>{{user.email}}</h4>
      </div>
  </div>
  <div class="mdl-cell mdl-cell--10-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h3>Coins Followed:</h3>
        <span class="mdl-chip">
            <span class="mdl-chip__text">Bitcoin</span>
        </span>
    </div>
  </div>
</div>