<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1>You're logged in!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
