<div class="decrypted-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="row">
    <div class="col-8 offset-2">
      <h5>User Profile</h5>
      <p>
        <strong>Display Name: </strong>: {{user.displayName}}</p>
      <p>
      <p>
        <strong>Email</strong>: {{user.email}}</p>
      <p>
        <strong>Coins Followed: </strong>
        <p>
          <ul>
            {{!-- Place holder for coins followed --}}
          </ul>
        </p>
      </p>
      <a href="/user/profile/settings">Change your settings</a><br>
      <a href="/">← Back To Home</a>
    </div>
  </div>
</div>
